.cub-button-group{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    &.cub-button-group--square {
        .cub-button {
            margin-right: 0 !important;
            border-radius: 0 !important;
            width: 100%;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            &:first-child {
                border-top-left-radius: 5px !important;
                border-bottom-left-radius: 5px !important;
            }
            &:last-child {
                border-top-right-radius: 5px !important;
                border-bottom-right-radius: 5px !important;
            }
        }
    }
    &.cub-button-group--round {
        .cub-button {
            margin-right: 0 !important;
            border-radius: 0 !important;
            width: 100%;
            -ms-flex-negative: 1;
            flex-shrink: 1;
            &:first-child {
                border-top-left-radius: 20px !important;
                border-bottom-left-radius: 20px !important;
            }
            &:last-child {
                border-top-right-radius: 20px !important;
                border-bottom-right-radius: 20px !important;
            }
        }
    }
}